$primary: #17364d; //導覽列底色
$secondary: #42626f; //深蓝底蓝字
$active: #427db2; //选取中浅蓝

$light: #666767; //灰字
$lightest: #efefef; //白字

$dark: #272e33; //灰色大色塊
$darkest: #13181a; //背景色
$darker: #30373a; //灰色小色塊

$priceUp: #ff001e; //买涨按钮底色
$priceUp-dark: #57262e; //买涨字体色
$priceUp-darkest: #3f1c22; //买涨背景色

$priceDown: #6fa22f; //买跌按钮底色
$priceDown-dark: #496b32; //买跌字体色
$priceDown-darkest: #2f4824;


$sm-font: 0.9rem;
$md-font: 1rem;
$lg-font: 1.25rem;
$xl-font: 1.3rem;