.title {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

#main {
  margin-top: 50px;
}

.logoimg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.user {
  width: 100%;
  height: 100px;
  margin: 10px auto;
  text-align: center;
}

.user img {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
}

.user span {
  line-height: 40px;
}

.money {
  background-color: white;
  width: 80%;
  height: 40px;
  margin: 10px 10%;
  border-radius: 5px;
}

.money span {
  font-size: 1.2rem;
  font-weight: 500;
}

.rmb {
  height: 230px;
  width: 94%;
  margin-left: 3%;
  background-color: #272e33;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.rmb input {
  width: 80%;
  height: 30px;
  text-align: center;
  font-size: 1rem;
  background-color: #30373a;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 0px;
  margin-top: 10px;
  color: #efefef;
}

.bank {
  background-color: #30373a;
  width: 50%;
  height: 30px;
  border: 0px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #666767;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 30%;
}

.entermoney {
  height: 100px;
  margin: 5px 3% 5px;
  width: 94%;
  background-color: #272e33;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.entermoney input {
  width: 90%;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  background-color: #30373a;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 0px;
  color: #efefef;
}

.rmbbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rmbbtn > a.btn {
  line-height: 50px;
  height: 50px;
  background-color: #30373a;
  border: 0px;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  margin: 2px;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  color: #efefef;
  outline: none;
}

.rmbbtn > a.btn.active {
  background-color: #427db2;
}

.confirm {
  margin-left: 3%;
  height: 50px;
  width: 94%;
  text-align: center;
}

.confirm button {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border: 0px;
  background-color: #427db2;
  border-radius: 5px;
  margin: 0px;
}

.gopay {
  margin-left: 3%;
  height: 50px;
  width: 94%;
  text-align: center;
}

.gopay button {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  border: 0px;
  background-color: #427db2;
  border-radius: 5px;
  margin: 0px;
}

.bankaccount {
  color: #666767;
  margin: 15px auto;
  font-size: 1rem;
}

.bankaccount th {
  text-align: right;
}

.bankaccount td {
  text-align: left;
}

.font1 {
  font-size: 1.3rem;
  margin: 0%;
  color: #efefef;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.font2 {
  font-size: 1.5rem;
  margin: 0%;
  color: #efefef;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.font3 {
  line-height: 50px;
  color: #666767;
  margin: 0px;
  font-size: 1.2rem;
}
/*# sourceMappingURL=accout.css.map */